# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\我的文档\个人笔记\MartinHub-notes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
